.ticker-container {
  width: 100%;
}

.ticker-content {
  display: inline-block;
  white-space: nowrap;
  animation: ticker 30s linear infinite;
}

.ticker-content:hover {
  animation-play-state: paused;
}

@keyframes ticker {
  0% { transform: translateX(100vw); }
  100% { transform: translateX(-100%); }
}
