<div class="dashboard-container">
  <app-fx-ticker></app-fx-ticker>
  <div class="dashboard-header glass-card mt-4">
    <div>
      <p class="subtitle">Total Balance Equivalent (Approx)</p>
      <h1 class="total-balance text-gradient">${{ totalBalanceUSD | number:'1.2-2' }}</h1>
    </div>
  </div>

  <div class="dashboard-grid">
    <div class="grid-col-main">
      <app-wallet-list></app-wallet-list>
      <div class="mt-30">
        <app-transaction-history></app-transaction-history>
      </div>
    </div>
    <div class="grid-col-side">
      <app-transfer (transferComplete)="onTransferComplete()"></app-transfer>
    </div>
  </div>
</div>
